<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <permission
        android:name="com.example.keyprovider.READ_KEY_DATA"
        android:protectionLevel="signature" />

    <permission
        android:name="com.example.keyprovider.WRITE_KEY_DATA"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cnm"
        tools:targetApi="31">
        <activity
            android:name=".SBModeApplication"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.gaopeng.test.sbshujuku.KeyProvider"
            android:authorities="com.gaopeng.test.cnm.keyprovider"
            android:exported="false"
            android:permission="com.example.PERMISSION_WRITE_KEYS"> <!-- 可选权限控制 -->
        <path-permission
            android:pathPrefix="/records"
            android:permission="com.example.PERMISSION_WRITE_RECORDS"/>
        </provider>

        <activity android:name="com.gaopeng.test.cnm.fangwuchu.SettingsActivity" />

        <service
            android:name=".fangwuchu.ForegroundService"
            android:foregroundServiceType="specialUse"
            android:exported="false"
            android:stopWithTask="false"
            tools:ignore="ForegroundServicePermission">
            <meta-data
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="resident_service" />
        </service>

        <receiver
            android:name="com.gaopeng.test.cnm.fangwuchu.StopServiceReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.gaopeng.test.cnm.fangwuchu.STOP_SERVICE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_service" />

    </application>

</manifest>